@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}

body,
button,
html,
input,
select,
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

html {
  -webkit-text-size-adjust: 100%;
}
.container-area{

 display: flex;
  min-height: 100vh;
}
.header-area{
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.analytics-table{
    background-color: bisque;
}

.analytics-chart{
    width: 100;
    align-items: center;
}
.sidebar-area{
    width: 25%;
    background-color: #f1f1f1;
}
.body-area{
    flex: 1;
    padding: 20px;
}

.footer-area{
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.landing-body{
    overflow: hidden;
}
span.logo-temp {
    background: #9f9edc;
    padding: 3%;
    border-radius: 5px;
    color: white;
}
.landing-action {
    padding-left: 20%;
}
.landing-navbar-container{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 201;
}
.landing-navbar-workflix{
    background-color:#310D72;
    border-radius: 0 !important;
    margin-top: 0 !important;
    padding: 2%;
}
.landing-logo{
    padding-left: 3%;
}
.row.landing-nav-container {
    width: 100%;
    padding: 1%;
}
.container-sign-elements {
    display: flex;
}
.sign-element-1{
    display: flex;
    justify-content: end;
}
.sign-element-2 {
    display: flex;
    justify-content: center;
}
.call-action{
    color: #CAC9CB;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'ss12' on, 'ss08' on, 'ss14' on, 'ss15' on, 'ss18' on, 'ss19' on, 'ss04' on, 'ss03' on;
    cursor: pointer;
}
.landing-page-container{
    margin-top: 4%;
}
.container-text-action {
    width: 100%;
    padding-top: 20%;
    padding-left: 17%;
}
span.call-text {
    color: black;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 2%;
    font-family: monospace;
}

.call-text-mini{
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 2%;
    color: black;
    font-family: monospace;
}
.cover-img {
    background-image: url(../image/image-landing.png);
    background-color: #cccccc;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    height: 100vh;
}
button.sign-up-btn {
    background: #310d72;
    padding: 3%;
    width: 35%;
    color: #fff;
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
}

.footer {
  background-color: white;
  padding: 0px;
  text-align: center;
  height: 120px;
  width: 100%;
  border-top: solid whitesmoke 1px;
}
.footer-img {
  height: 100px;
}

.footer-text {
  color: #333;
  font-size: 20px;
  line-height: 20px;
  text-align: start;
}


/* side bar */
.sidebar-area {
  position:  relative;
  top: 0;
  bottom: 0;
  /* left: -120px; */
  left: 0px;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  z-index: 600;
}
.sidebar-toggle-button{
  position:sticky;
  left: 0px;
  top:0px;
}
.template-wrapper {
  justify-content: center;
  display: grid;
}
.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: auto;
  justify-content: center;
}
.list-item {
  display: grid;
  grid-template-areas:
    'tempalte-img  tempalte-img'
    'image-use-button image-edit-button';
  justify-items: center;
  gap: 10px;
  padding: 40px;
}
.tempalte-img {
  grid-area: tempalte-img;
  height: 180px;
  width: 320px;
}
.image-use-button {
  grid-area: image-use-button;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  height: 40px;
  line-height: 20px;
  width:  80%;
  border: none;
  box-shadow: rgba(156, 111, 156, 0.24) 0px 3px 8px;
}
.image-edit-button {
  grid-area: image-edit-button;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  height: 40px;
  line-height: 20px;
  width: 80%;
  border: none;
  box-shadow: rgba(156, 111, 156, 0.24) 0px 3px 8px;
}
.image-edit-button:hover, .image-use-button:hover {
  color: blueviolet;
  box-shadow: 0 5px 15px rgba(57, 35, 73, 0.4);
}

/* Mobile View */
@media screen and (min-width:250px) and (max-width:480px) {
    .row.landing-nav-container{
        margin-left: 0;
    }
    .col-6.col-lg-6.col-xl-6.landing-logo {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .col-6.col-lg-6.col-xl-6.landing-action {
        flex: 0 0 70%;
        max-width: 70%;
        padding: 0;
        padding-left: 0;
    }
    .col-6.col-xl-6.col-lg-6.sign-element-1 {
        justify-content: flex-start;
        flex: 0 0 30%;
        max-width: 30%;
    }
    .col-6.col-xl-6.col-lg-6.sign-element-2 {
        flex: 0 0 70%;
        max-width: 70%;
    }
    .call-action {
        font-size: 12px;
    }
    .cover-img{
        display: none;
    }
    button.sign-up-btn {
        width: 85%;
    }
    .landing-page-container {
        margin-top: 15%;
    }
    .landing-page-container .col-6.col-xl-6.col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container-text-action {
        padding-left: 10%;
    }
    button.sign-up-btn {
        padding: 5%;
    }
}
/* Tablet View */
   @media screen and (min-width:481px) and (max-width:768px) {
    .row.landing-nav-container{
        margin-left: 0;
    }
    .col-6.col-lg-6.col-xl-6.landing-logo {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .col-6.col-lg-6.col-xl-6.landing-action {
        flex: 0 0 70%;
        max-width: 70%;
        padding: 0;
        padding-left: 0;
    }
    .col-6.col-xl-6.col-lg-6.sign-element-1 {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .col-6.col-xl-6.col-lg-6.sign-element-2 {
        flex: 0 0 70%;
        max-width: 70%;
    }
    .call-action {
        font-size: 12px;
    }
    button.sign-up-btn {
        width: 50%;
    }
    button.sign-up-btn {
        padding: 5%;
    }
}
/* Laptop View */
   @media screen and (min-width:769px) and (max-width:1024px) {
   main {
    padding-left: 240px;
  }
    
}




