@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container-area {
  display: flex;
  min-height: 100vh;
}
.header-area {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.sidebar-area {
  width: 25%;
  background-color: #f1f1f1;
}
.body-area {
  flex: 1;
  padding: 20px;
}

.footer-area {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.landing-body {
  overflow: hidden;
}
span.logo-temp {
  background: #9f9edc;
  padding: 3%;
  border-radius: 5px;
  color: white;
}
.landing-action {
  padding-left: 20%;
}
.landing-navbar-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 201;
}
.landing-navbar-workflix {
  background-color: #310d72;
  border-radius: 0 !important;
  margin-top: 0 !important;
  padding: 2%;
}
.landing-logo {
  padding-left: 3%;
}
.row.landing-nav-container {
  width: 100%;
  padding: 1%;
}
.container-sign-elements {
  display: flex;
}
.sign-element-1 {
  display: flex;
  justify-content: end;
}
.sign-element-2 {
  display: flex;
  justify-content: center;
}
.call-action {
  color: #cac9cb;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "ss12" on, "ss08" on, "ss14" on, "ss15" on, "ss18" on,
    "ss19" on, "ss04" on, "ss03" on;
  cursor: pointer;
}
.landing-page-container {
  margin-top: 4%;
}
.container-text-action {
  width: 100%;
  padding-top: 20%;
  padding-left: 17%;
}
span.call-text {
  color: black;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 2%;
  font-family: monospace;
}

.call-text-mini {
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 2%;
  color: black;
  font-family: monospace;
}
.cover-img {
  background-image: url(../resources/image.png);
  background-color: #cccccc;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  height: 100vh;
}
button.sign-up-btn {
  background: #310d72;
  padding: 3%;
  width: 35%;
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-top: 5%;
}

/* template page css  */
.template-wrapper {
  display: grid;
}
.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: auto;
  justify-content: center;
}
.list-item {
  display: grid;
  grid-template-areas:
    "tempalte-img  tempalte-img"
    "image-use-button image-edit-button";
  justify-items: center;
  gap: 10px;
  padding: 40px;
}
.tempalte-img {
  grid-area: tempalte-img;
  height: 180px;
  width: 320px;
}
.image-use-button {
  grid-area: image-use-button;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  height: 40px;
  line-height: 20px;
  border: none;
  box-shadow: rgba(156, 111, 156, 0.24) 0px 3px 8px;
  padding: 10px;
}
.image-edit-button {
  grid-area: image-edit-button;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  height: 40px;
  line-height: 20px;
  border: none;
  box-shadow: rgba(156, 111, 156, 0.24) 0px 3px 8px;
  padding: 10px;
}
.image-edit-button:hover,
.image-use-button:hover {
  color: #6a2871;
  box-shadow: 0 5px 15px rgba(57, 35, 73, 0.4);
}
/* reusable-snippets */
/* header */
/* footer */
body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.sign-body {
  display: grid;
  place-items: center;
  font-family: "Nunito", sans-serif;
  height: 100vh;
}
/* headings */
.container-signup h1 {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
}
/* headings */
/* paragraphs */
.container-signup p {
  font-size: 0.9em;
  font-weight: 200;
  line-height: 1.3em;
  letter-spacing: 0.1em;
  margin: 20px 0;
}
/* paragraphs */
/* span tags */
.container-signup span {
  font-size: 14px;
  color: #a9a9a9;
}
.container-signup span .forgot {
  color: #c850c0;
  cursor: pointer;
}
/* span tags */
.container-signup a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

/* form */
.container-signup form {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
/* form */
/* input fields */
.container-signup input {
  background-color: #ecececdd;
  border: none;
  font-size: 14px;
  padding: 10px 12px;
  margin: 8px 0;
  width: 100%;
  color: #333;
  outline: none;
  border-radius: 5px;
}
/* input fields */

/* button */
.container-signup button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #4158d0, #f441a5, #ffcc70, #4158d0);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  margin-top: 30px;
  cursor: pointer;
}

.container-signup button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
}

.container-signup button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #4158d0, #f441a5, #ffcc70, #4158d0);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.container-signup button:hover::before {
  filter: blur(10px);
}

.container-signup button:active {
  background: linear-gradient(90deg, #4158d0, #f441a5, #ffcc70, #4158d0);
}

/* button */

/* container */
.container-signup {
  background-color: #ffffff;
  border-radius: 2em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  overflow: hidden;
  width: 650px;
  max-width: 100%;
  min-height: 550px;
}
.form {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all ease-in-out 0.6s;
}
.sign_up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.sign_in {
  left: 0;
  width: 50%;
  z-index: 2;
  opacity: 1;
}
/* container */

/* active container */
.container-signup.right-panel-active .sign_in {
  transform: translateX(100%);
  opacity: 0;
}
.container-signup.right-panel-active .sign_up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: switch 0.5s;
}
@keyframes switch {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

/* active container */

/* overlay container*/
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.overlay {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-pannel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform -0.6s ease-in-out;
}
.overlay-left {
  transform: translateX(-20%);
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}
/* container switch */
.container-signup.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.container-signup.right-panel-active .overlay {
  transform: translateX(50%);
}
.container-signup.right-panel-active .overlay-left {
  transform: translateX(0);
}
.container-signup.right-panel-active .overlay-right {
  transform: translateX(20%);
}
/* container switch */

/* overlay container */

.wrapper {
  margin-top: 10%;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1440x1920/2c58947f526d3f0c95c8e7fe9499ee0c/photo-1683031423136-27778f1647c5.jpg");
  opacity: 0.9;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.item-bg {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.3s;
  left: -30px;
}
.item-bg.active {
  left: 0;
  top: 0;
  opacity: 1;
}

.news-slider {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (max-width: 1300px) {
  .news-slider {
    max-width: 1000px;
  }
}
@media screen and (max-width: 576px) {
  .news-slider {
    margin-top: 45px;
  }
}
.news-slider__wrp {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.news-slider__item {
  width: 400px;
  flex-shrink: 0;
  background: #d6d2d245;
  margin-left: 2%;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  .news-slider__item {
    width: 340px;
  }
}
.news-slider__item.swiper-slide {
  opacity: 0.5;
  pointer-events: none;
  transition: all 0.3s;
  height: 20vh;
}
.news-slider__item.swiper-slide-active,
.news-slider__item.swiper-slide-prev,
.news-slider__item.swiper-slide-next {
  opacity: 1;
  pointer-events: auto;
}
.news-slider__ctr {
  position: relative;
  z-index: 12;
}
.news-slider__arrow {
  background: #fff;
  border: none;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
}
.news-slider__arrow:focus {
  outline: none !important;
}
.news-slider__arrow .icon-font {
  display: inline-flex;
}
.news-slider__arrow.news-slider-prev {
  left: 15px;
  transform: translateY(-50%);
}
.news-slider__arrow.news-slider-next {
  right: 15px;
  transform: translateY(-50%);
}
.news-slider__pagination {
  text-align: center;
  margin-top: 50px;
}

.text-white {
  text-decoration: none;
}

.news-slider__pagination .swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: #fff;
  opacity: 0.2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.news-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
  width: 100px;
  transition-delay: 0s;
}
@media screen and (max-width: 576px) {
  .news-slider__pagination .swiper-pagination-bullet-active {
    width: 70px;
  }
}
.news__item {
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  display: block;
  transition: all 0.3s;
  height: 20vh;
}
@media screen and (min-width: 800px) {
  .news__item:hover {
    color: #222222;
    transition-delay: 0.1s;
  }
  .news__item:hover .news-date,
  .news__item:hover .news__title,
  .news__item:hover .news__txt {
    opacity: 1;
    transition-delay: 0.1s;
  }
  .news__item:hover .news__img {
    box-shadow: none;
  }
}
.news__item.active {
  color: #222222;
}
.news__item.active .news-date,
.news__item.active .news__title,
.news__item.active .news__txt {
  opacity: 1;
}
.news__item.active .news__img {
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .news__item {
    padding: 30px;
  }
}
@media screen and (max-width: 576px) {
  .news__item {
    padding: 20px;
  }
}
.news-date {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.3s;
}
@media screen and (max-width: 576px) {
  .news-date {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0;
  }
}
.news-date__title {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .news-date__title {
    margin-right: 10px;
  }
}
.news-date__txt {
  font-size: 16px;
}
.news__title {
  font-size: 17px;
  font-weight: 500;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: opacity 0.3s;
}
@media screen and (max-width: 576px) {
  .news__title {
    font-size: 17px;
    margin-bottom: 10px;
  }
}
.news__txt {
  margin: 10px 0;
  line-height: 1.6em;
  font-size: 15px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.news__img {
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  height: 200px;
  margin-top: 30px;
  width: 100%;
  transition: all 0.3s;
  transform-origin: 0% 0%;
}
@media screen and (max-width: 576px) {
  .news__img {
    height: 180px;
    margin-top: 20px;
  }
}
.news__img img {
  max-width: 100%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background: #4e4c4c05;
  border: 1px solid #8080806b;
  padding: 1%;
}
.navbar-brand {
  background-image: url(./logo.png);
  width: 100px;
  height: 50px;
  background-position: center;
  background-size: contain;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
  margin-left: 5%;
  width: 50%;
}
.settings {
  width: 100%;
}
span.user-settings {
  float: right;
  position: relative;
  margin-right: 2%;
  background: #80808033;
  /* padding: 1%; */
  border-radius: 100pc;
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 0.5%;
  color: #0b0b43;
  cursor: pointer;
}

/* always put  those @media at the bottom */

/* Mobile View */
@media screen and (min-width: 250px) and (max-width: 480px) {
  .row.landing-nav-container {
    margin-left: 0;
  }
  .col-6.col-lg-6.col-xl-6.landing-logo {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-6.col-lg-6.col-xl-6.landing-action {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0;
    padding-left: 0;
  }
  .col-6.col-xl-6.col-lg-6.sign-element-1 {
    justify-content: flex-start;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-6.col-xl-6.col-lg-6.sign-element-2 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .call-action {
    font-size: 12px;
  }
  .cover-img {
    display: none;
  }
  button.sign-up-btn {
    width: 85%;
  }
  .landing-page-container {
    margin-top: 15%;
  }
  .landing-page-container .col-6.col-xl-6.col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .container-text-action {
    padding-left: 10%;
  }
  button.sign-up-btn {
    padding: 5%;
  }
}
/* Tablet View */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .row.landing-nav-container {
    margin-left: 0;
  }
  .col-6.col-lg-6.col-xl-6.landing-logo {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-6.col-lg-6.col-xl-6.landing-action {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0;
    padding-left: 0;
  }
  .col-6.col-xl-6.col-lg-6.sign-element-1 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-6.col-xl-6.col-lg-6.sign-element-2 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .call-action {
    font-size: 12px;
  }
  button.sign-up-btn {
    width: 50%;
  }
  button.sign-up-btn {
    padding: 5%;
  }
}
/* Laptop View */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* setting page */
