<div class="sidenav position-fixed sidebar-area" id="sidebar-area">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
           
            <div class="sidebar-heading">Workflix 
            </div>
            <div class="list-group list-group-flush">
                <a href="/src/main/webapp/html/template.html" class="list-group-item list-group-item-action">Template</a>
                <a href="#" class="list-group-item list-group-item-action">Workspace</a>
                <a href="#" class="list-group-item list-group-item-action">Board</a>
                <a href="/src/main/webapp/html/analytics.html" class="list-group-item list-group-item-action">Analytics</a>
            </div>
        </div>
        <button class="sidebar-toggle-button" id="sidebar-toggle-button"> &lt; </button>
    </div>
</div>